@media only screen and (max-width: 1025px) {
  header .featured-image {
  	width: 105%;
  	bottom: 72px;
  	left: 20px;
  }

  header {
  	height: 635px;
  }

  header .caption {
  	padding: 191px 0;
  }

  #contact iframe {
  	width: 100% !important;

  }
}