* {
	font-family: "Source Sans Pro"
}
.navbar-brand {
	color: #fff;
	font-weight: bold; 
} 
/*Header Starts*/
header {
	background-color : #333;
	background-image: url('../images/16952.jpg');
	background-size: cover;
	background-position: top;
	height: 750px;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

header .caption {
	padding: 200px 0;
	color: #fff;
}

a.start {
	border-radius: 0; 
	color: #fff;
	font-weight: bold;
	min-width: 280px;
}

.caption h1 {
	font-weight: bold;

}

.caption a {
	padding: 10px 50px;
}

header .featured-image {
	position: absolute;width: 111.2%;height: auto;bottom: -107px;left: 65px;
}

/*Header ends*/

/*Key Features Start*/
.key-feature-col {
	background-color: #228efd;
	min-height: 100px;
	display: flex;
	align-items: center;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

.key-feature-col.second {
	background-color: #fd7622;
}
.key-feature-col.third {
	background-color: #fd2259;
}

.key-feature-col .text {
	color: #fff;
	font-size: 22px;
	font-weight: bold;
}
/*Key Features End*/

section h1 {
	font-size: 2.5em;
	font-weight: 600;

}

.section-header {
	margin: 0 0 15px 0;
	text-align: center;
}

section {
	padding: 85px 0 100px 0;
}

/*Features Start*/
.feature-header {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}

.feature-body {
	font-size: 1em;
	font-weight: 500;
}
.feature {
	text-align: left;
	margin-bottom: 10px;
	padding: 20px 0px;
}
/*Features End*/

#divider {
	background-color: #333;
	min-height: 250px;
	background-image: url('../images/16952.jpg');
	background-size: cover;
	background-position: top;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
#divider h1 {
	color: #fff;
}
/*Start Clients*/
#clients {
	background-color: #f4f4f5;
	background-image: url('../images/review.jpg');
	background-position: top -150px;
	background-size: cover;
}
.client-review {
	color: #333;
	text-align: left;
}

#clients .section-header {
	color: #333;
}
.review-header {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 5px;
	text-transform: uppercase;
	color: #333;
}
.author-name {
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 14.5px;
	color: #333;
}
.review-body {
	padding: 20px 20px;
	font-size: 16px;
}
.review-body p {
	margin: 0 0 10px 0;
	color: #333;
	font-size: 17.5px;
	font-weight: 500;
}
/*End clients*/

#contact {
	min-height: 500px;
	background-color: #000;
}
#contact h1 {
	color: #fff;
}

.start:hover{
	cursor: pointer;
}

.form-group label {
	color: #fff;
}

.form-control {
	border-radius:0;
}
.btn {
	border-radius: 0;
	font-weight: bold;
}

footer {
	background-color: #000;
}

footer p {
	margin: 0;
	color: #ccc;
	border-top: solid 0.1px #ccc;
	min-height: 30px;
	padding: 30px;
}