@media only screen 
and (min-width: 769px)
and (max-width: 1249px) {
	header .highlight {
    	width: 80%;
    }

    #filter-button-container {
    	text-align: center;
    	margin-bottom: 20px;
    }

    .filter-button {
    	font-size: 13px;
    	padding: 3px 8px;
    }
}

@media only screen and (max-width: 768px) {
    header {
    	height: 500px;
    }

    header .highlight span {
    	font-size: 22px;
    }

    .section-header {
    	font-size: 20px;
    }

    .service-icon .fa {
    	font-size: 22px;
    }

    header .highlight {
    	width: 80%;
    }

  	#services {
  		text-align: center;
  	}

  	#filter-button-container {
  		text-align: center;
  		margin-bottom: 20px;
  	}

  	.filter-button {
  		font-size: 14px;
  		margin-top: 0;
  		padding: 3px 5px;

  	}

  	.gallery_product figure .text h3 {
  		font-size: 12px;
  	}

  	.portfolio-links .fa {
  		font-size: 12px;
  	}


  	.simple-skillbar {
		font-size: 14px;
	}

	#connect .social-icon li .fa {
		font-size: 25px;
		padding: 25px;
	}

}

@media only screen and (max-width: 425px) {
	#main-nav .container {
		padding: 0 10px;
	}

	header .highlight span {
		font-size: 17px;
	}

	header .highlight {
		width: 90%;
	}

	header {
		height: 550px;
	}

	#contact .right {
		display: none;
	}

	.navbar-brand {
		font-size: 16px;
	}

	.arrow-pointer {
		font-size: 12px;
	}

	header .highlight span {
		font-size: 16px;
	}

	.bounce a {
		font-size: 20px;
	}

	.filter-button {
		margin: 5px 0;
	}

	.gallery_product {
		width: 50%;
	}


}
